.header {
    width: 100%;
    padding: 0 4.4vh;
    background-color: transparent;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(0px);
}

.header.scrolled {
    background-color: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.header-links ul {
    display: flex;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}