.container {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.link:hover {
    color: #d1d5dc;
    text-decoration: underline;
}
